[Parent] TCP Basics and Command Parsing

Right now, we have a very _very_ basic service that can spin up a bidirectional TCP connection. Now that this in place, we need to start processing these requests and mapping them to some data structure we can operate on.

In my mind, `core.clj` is a very thin I/O layer that is responsible for:

- Starting and shutting down the TCP server
- Accepting TCP traffic i.e. data streams represented as a  `manifold` [stream](https://github.com/clj-commons/manifold/blob/master/src/manifold/stream.clj)


Once an initial connection is established and a [NNTP Greeting](https://datatracker.ietf.org/doc/html/rfc3977#section-5.1) is set, we need to do some parsing of the stream as commands come in:

1. Attempt to parse the stream of bytes into a string
2. Check if the string matches the format of a NNTP command specified in [RFC 3977, Section 3.1](https://datatracker.ietf.org/doc/html/rfc3977#section-3.1)
3.  If it doesn't match the format, we effectively no op with a 500 status code per [Section 3.2 of RFC 3977)](https://datatracker.ietf.org/doc/html/rfc3977#section-3.2)
4. If it does match the format, we are in business.

At this point in the data flow, we know we have something potentially valid. We'll translate our stream into a clojure `IPersisntentMap` that looks something like this

```clojure
{
 :request {
   :command "INFO"
   :arguments ""
 }
}
```


On the flip side, we can also use an `IPersistentMap` for our response:

#### A good request example
```clojure
{
 :request {
   :command "DATE"
   :arguments ""
 }
 :response {
   :status 111
   :message "yyyymmddhhmmss"
 }
}
```


#### A bad request example
```clojure
{
 :request {
   :command "TACO"
   :arguments ""
 }
 :response {
   :status 500 
   :message "Unknown command"
 }
}
```


With this data structure, we can take our response and write this out to the client

NOTE: The idea of [pipelining commands](https://datatracker.ietf.org/doc/html/rfc3977#section-3.5) is out of scope of this ticket. That will be handled separately. For now, we can assume all commands **do not** support pipelining.


### Deliverables
- [ ] Sending a greeting message after every TCP connection is established
- [ ] A way to parse TCP streams into a meaningful data structure
- [ ] Returning a response to client. For now, we can return just a `status` of `100` with some generic `message`. We'll follow up, in a separate issue, with actual implementations for commands.